*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --white-color:#FFFFFF;
    --body-color:#EEEEEE;
    --color-blue:#1da1f2d9;
    --color-gry:#9DA0A0;
    --icon-colorL:#F87F02;
}
body{
    background-color: var(--body-color);
    direction: rtl;
    font-family: 'Tajawal', sans-serif;
    height: 1000px;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/* Style navbar_One */
.navbar{
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0;
    box-shadow: 0px 4px 4px #00000008;
}
.navbar button.active{
    transform: translateX(200px);
}
.navbar .time_date p{
    margin: 0;
    font-size: 12px;
    color: var(--color-blue);
    text-align: center;
}
.navbar .title p{
    margin: 0;
}
.navbar .title p span{
    color: var(--color-blue);
    font-size: 15px;
}
.navbar .title .parTowtitle{
    color: var(--color-gry);
    font-size: 14px;
}
.navbar .navbar-nav .dropdown{
    margin-right: 0;
    padding: 0;
}
.navbar .navbar-nav .dropdown img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.navbar .navbar-nav .nav-link{
    color: black;
}
.navbar .navbar-nav .nav-link svg{
    color: var(--color-blue);
}
.navbar .navbar-nav .nav-link .fa-message,
.navbar .navbar-nav .nav-link .fa-bell{
    color: var(--icon-colorL);
}
.navbar .navbar-nav .nav-item p{
    width: 12px;
    height: 12px;
    border: 1px solid #fff;
    padding: 5px;
    border-radius: 50%;
    color: #fff;
    background-color: red;
    position: relative;
    bottom: 30px;
    align-items: center;
}
@media (max-width:991px){
    .navbar .navbar-nav .nav-link{
        display: inline;
    }
}
/* Start Style right_meun */
.right_meun{
    background-color: red;
    top: 85px;
    box-shadow: inset -30px -13px 28px -21px #0000001a;
    padding: 10px 0px;
    padding: 20px;
}

